.App {
  min-height: 500px;
  width: 500px;
  margin: 40px auto;
  border: 1px solid black;
}

#to-do-form input {
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
}

#to-do-form button {
  height: 50px;
  min-width: 80px;
  width: auto;
  cursor: pointer;
  margin: 0 10px;
}
