.list {
  width: 400px;
  margin: 20px auto;
}

.list p input {
  border: 0;
  width: 300px;
  font-size: 18px;
}

.list p input:focus {
  outline: none;
}

.delete-item {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}
